:root{
  --bg-color:#F5F5F5;
  --color-success: green;
  --color-button-success-hover:#67C23A;
  --basecolor:#004C72;
  --secondcolor:#195E80;
  --hovercolor:#003D5B;

  --button-default-hover:#F5F5F5;
  --button-primary-hover:#003D5B;

  --color-button-default:#004C72;
  --color-button-hover:#003D5B;
  --color-button-click:#04707A;
  --color-button-not-active:#CCCCCC;
  --color-button-text:#FFFFFF;

  --basecolor-aside:#004C72;
  --bg-aside-hover:#195E80;
  --color-active-text-aside:#FFFFFF;
  --color-base-text-aside:#99B7C7;
  --color-text-primary:#333333;
  --bg-input:#F5F5F5;
  --color-inversion:#004C72;

  --bg-chart-block-color:#FFFFFF;
  --blackcolor:rgba(51, 51, 51, 1);

  --color-bg-input:#F5F5F5;
  --yellow:#FFB950;
  --yellow-speedometer:#FBB225;
  --green:#93B26F;
  --red:#CC5147;
  --dark-blue:#004C72;

  --deep-red:#E90900;
  --color-aside-menu:#195E80;
  --light-grey-color:#CCCCCC;
}

