body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:Roboto, Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background: var(--bg-color);
  color:var(--color-text-primary);
}
a{
  color:var(--color-button-default);
}


h1, h2{
  font-weight: normal;
  text-align: center;
  padding: 15px;

  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

.pull-right{
  float: right;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}

.page-enter-active, .page-leave-active{
  transition: opacity 1s;
}
.page-enter, .page-leave{
  transition: opacity 1s;
  opacity: 0;

}

.saveButton{
  margin: 0;
  width: 100%;
  text-align: right;
}
.el-button{
  margin: 15px 0 ;
}
.icon{
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}
